body {
	margin: 0px;
}

a {
	text-decoration: none;
	color: #00d1fb;
}

a:hover {
	color: #62defd;
}

#H3 {
	width: 100%;
	position: relative;
	top: 300px;
}

#num {
	position: fixed;
	left: 100px;
	font-family: helvetica;
	font-size: 350px;
	font-weight: bold;
	color: #e6e6e6;
}

#name {
	font-family: helvetica;
	font-size: 100px;
	font-weight: bold;
	color: #999999;
	position: fixed;
	top: 20px;
	right: 10%;
}

#link {
	font-family: helvetica;
	font-size: 300px;
	font-weight: bold;
	color: #b3b3b3;
	position: fixed;
	left: 550px;
	top: 10px;
}

#rel {
	position: relative;
	top: 350px;
	padding: 50px;
	width: 640px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#other {
	text-align: center;
	font-family: helvetica;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 50px;
}

#sites {
	text-align: center;
	font-family: helvetica;
	font-size: 40px;
}